<section>
  <nav class="navbar">
    <!-- LOGO -->
    <div class="logo">MUO</div>

    <!-- NAVIGATION MENU -->
    <ul class="nav-links">

      <!-- USING CHECKBOX HACK -->
      <!-- <input type="checkbox" id="checkbox_toggle" />
    <label for="checkbox_toggle" class="hamburger">&#9776;</label>-->

      <!-- NAVIGATION MENUS -->
      <div class="menu">


        <li class="services">
          <a href="/">Home</a>

          <!-- DROPDOWN MENU -->
          <ul class="dropdown">
            <li><a href="/">Dropdown 1 </a></li>
            <li><a href="/">Dropdown 2</a></li>
            <li><a href="/">Dropdown 2</a></li>
            <li><a href="/">Dropdown 3</a></li>
            <li><a href="/">Dropdown 4</a></li>
          </ul>

        </li>

        <li><a href="/">Browse</a></li>
        <li><a href="/">Cart</a></li>
      </div>
    </ul>
  </nav>
</section>