<section>
  <div class="container" *ngFor="let game of deals ">
    <div class="item-container">

      <div class="card">

        <div class="card-content">
          <div class="deals-circle">
            <p>{{dealsPercentage(game.normalPrice,game.salePrice)}}% OFF!</p>
          </div>
          <img [src]="game.thumb" alt="{{game.title}}">

          <p class="title">{{game.title}}</p>
          <p class="review">Steam review</p>


          <div class="star-rating">
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStar"></fa-icon>
          </div>

          <div class="btn-container">
            <button>
              <p id="normal-price-btn">{{game.normalPrice}}</p>
              <p id="sale-price-btn">${{game.salePrice}}</p>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>